<nav>
    <hr class="nav_divider">
    <div class="icon-tags">
        <a href="/post"><img class="home_icon icon" src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt=""></a>
        <a href="/post/new"><img class="post_icon icon" src="https://t4.ftcdn.net/jpg/04/40/75/45/360_F_440754580_j2mnh86Fb4XZrD4gfh5K3UPktKjNBGTz.jpg" alt=""></a>
        <a href="/chat/all"><img class="message_icon icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLdSViZp_aSYDnxIjhFMI5b0BHGWWSo_PCTA&usqp=CAU" alt=""></a>
        <a href="/profile/<%= id %>"><img class="profile_icon icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGf_8UZ3xLijdkOtv3qWnUpyknARbKMrcVJA&usqp=CAU" alt=""></a>
    </div>
    </nav>