<!-- <div class="navbar">
    <div class="navbar-container">
        <input type="checkbox" name="" id="">
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
        <ul class="menu-items">
            <li><a href="#edit">Edit profile</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Help</a></li>
            <li><a href="#photo">Update photo</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        <h1 class="logo">PicPals</h1>
    </div>
</div> -->

<div class="topnav">
    <h1 class="app_name">PicPals</h1>
    <div id="myLinks">
      <a href="#settings">Settings</a>
      <a href="#about">about</a>
      <a href="/logout">logout</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <!-- <i class="fa fa-bars"></i> -->
        <img class="hamburger_lines" src="https://cdn.icon-icons.com/icons2/2596/PNG/512/hamburger_button_menu_icon_155296.png" alt="">
    </a>
</div>
<script>
    function myFunction() {
      var x = document.getElementById("myLinks");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
</script>
