<!-- <div class="navbar">
    <div class="navbar-container">
        <input type="checkbox" name="" id="">
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
        <ul class="menu-items">
            <li><a href="#edit">Edit profile</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Help</a></li>
            <li><a href="#photo">Update profile picture</a></li>
            <li><a href="/login">Logout</a></li>
        </ul>
        <h1 class="logo">PicPals</h1>
    </div>
</div> -->


<nav class="navbar">
    <div class="container-fluid">
        <h1 class="navbar-brand">PicPals</h1>
        <button class="navbar-toggler btn btn-lg" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            <ul class="menu-items">
                <li><a href="#edit">Edit profile</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Help</a></li>
                <li><a href="#photo">Update profile picture</a></li>
                <li><a href="/login">Logout</a></li>
            </ul>
        </div>

    </div>
</nav>
