<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page</title>
    <link rel="stylesheet" href="/styles/404.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
</head>
<body>
    <main>
        <h1 class="app_name">PicPals</h1>
        <h2>404 Error</h2>
        <p>It seems like you got lost. This page doesn't exist. </p>
        <p><a href="/login">Click Here</a> to go back to home.</p>
        <hr>
    </main>
</body>
</html>