<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs', {title: 'Chat Page', css: ''}) %>
<body>
    <header>
        <img src="<%= profile.photo %>" alt="profile-photo">
        <h2><%= profile.username %></h2>
    </header>
    <main>

        <form action="">
            <input type="text" name="message">
            <input type="submit" name="submit">
        </form>
    </main>
</body>
</html>