<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed page</title>
</head>
<body>
    <header>
        <h1>PicPals</h1>
    </header>
    <main>
        <ul>
            <li>
                <img src="" alt="userimage">
                <h2>Username</h2>
                <img src="" alt="userpost">
                <p>This is my cool picture of my travel to japan in March 2020.</p>
            </li>
        </ul>
    </main>
    <footer>
        
    </footer>
</body>
</html>