<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page</title>
        <link rel="stylesheet" href="/styles/login.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    </head>
<body>
    <main>
        <div class="login_section">
            <h1 class="app_name">PicPals</h1>
            <form action="/login" method="POST">
                <input type="email" name="email" placeholder="Email Adress"><br>
                <input type="password" name="password" placeholder="Password" class="password"><br>
                <button type="submit" class="login_button">LOGIN</button>
            </form>
        </div>
        <hr>
        <div class="register_section">
            <p>Don't have an account? <a href="/register">Register here</a></p>
            <img src="https://is1-ssl.mzstatic.com/image/thumb/Purple126/v4/80/9f/37/809f3732-e831-f03b-1441-f1e807a8b9a7/AppIcon-1x_U007emarketing-0-10-0-85-220.jpeg/1200x630wa.png" alt="logo" class="logo">
        </div>
    </main>    
</body>
</html>