<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>New</title>
        <link rel="stylesheet" href="/styles/new.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    </head>
<body>
    <%- include('partials/settings.ejs') %>
    <div class="container">
        <p>Share a new Pic with all your Pals</p>
        <form action="/post/new" method="POST">
            <input type="text" name="image" class="image"><br>
            <p class="caption_text">Add a caption to your post:</p>
            <textarea class="caption" name="name" placeholder="Share something about your post..."></textarea><br>
            <input type="submit" class="submit" placeholder="create your post">
        </form>
    </div>
    <%- include('partials/nav.ejs', {id}) %>
</body>
</html>