<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register Page</title>
        <link rel="stylesheet" href="/styles/register.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    </head>
<body>
    <div class="container">
        <header>
            <h1>PicPals</h1>
            <h2>Fill in the form to start using PicPals</h2>
            <p>Register with your email address</p>
        </header>
        <main>
        <form action="/register" method="POST">
            <p class="texts">Username</p>
            <input type="text" name="username" placeholder="Create a username" required>
            <p class="texts">Email</p>
            <input type="email" name="email" placeholder="Enter your email address" required>
            <p class="texts">Birthday</p>
            <input type="date" name="birthdate" id="birthdate">
            <p class="texts">Photo</p>
            <input type="text" name="photo" placeholder="Upload a profile picture" required>
            <p class="texts">Password</p>
            <input type="password" name="password" placeholder="Create a password" required>
            <p class="texts">Confirm passsword</p>
            <input type="password" name="password2" placeholder="Enter your password again" required>
            <p class="texts">Bio</p>
            <textarea class="bio" name="name" placeholder="Tell us more about yourself..."></textarea><br>
            <button type="submit">Register</button>
        </form>
        </main>
        <hr>
        <footer>
            <p>Already have an account? <a href="/login">Login here</a></p>
            <img src="https://is1-ssl.mzstatic.com/image/thumb/Purple126/v4/80/9f/37/809f3732-e831-f03b-1441-f1e807a8b9a7/AppIcon-1x_U007emarketing-0-10-0-85-220.jpeg/1200x630wa.png" alt="logo" class="logo">
        </footer>
    </div>
</body>
</html>