body{
    background-color: rgb(253, 249, 243);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


 .posts{
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
h2{
  position: relative;
  left: 70px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
} 
a{
  text-decoration: none;
  color: rgb(67, 51, 38);
  cursor: pointer;
}

.user_photo{
  position: relative;
  top: 55px;
  left: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  object-fit: cover ;
  margin-bottom: 20px;
}
.image_post{
    object-fit: cover ;
    width: 98%;
    aspect-ratio: 1/1;
    margin-bottom: -12px;
}
p{
  margin-bottom: -20px;
  margin-left: 10px;
  width: 370px;
  overflow: hidden;
  display: -webkit-box; 
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical; 
  font-size: 14px;
  color: #272727;
} 


@media screen and (max-width: 600px){
  .image_post{
    width: 98vw;
  }
  .topnav{
    width: 100%;
  }
}
@media screen and (min-width: 600px){
  .image_post{
    max-width: 500px;
  }
  .topnav{
    width: 500px;
  }
}

/* navigation css */

nav{
  background-color: rgb(253, 249, 243);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60px;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 20px;
}
.icon-tags{
  display: flex;
  justify-content: space-evenly;
  max-width: 600px;
  width: 100%;
}

.icon{
    height: 50px;
    width: 50px;
}
.nav_divider{
    position: relative;
    width: 98%;
    max-width: 500px;
} 


/* settings bar */
.topnav {  
  margin-top: 0;
  overflow: hidden;
  background-color: rgb(253, 249, 243);
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 2;
}

.topnav #myLinks {
  background-color: rgb(161, 197, 224);
  display: none;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(10px);
  z-index: 2;
}

.topnav a {
  color: rgb(67, 51, 38);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}
.topnav a:hover{
  color: black;
}

.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
h1{
  font-family: "Pacifico";
  color: rgb(67, 51, 38);
  font-size: 40px;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
}

.hamburger_lines{
  width: 40px;
  height: 40px;
}


