body{
    background-color: rgba(128, 128, 128, 0.37);
}

main{
    background-color: white;
    width: 390px;
    text-align: center;
}
.login_section{
    padding-top: 10px;
}
.app_name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 70px;
}
form{
    margin-bottom: 40px;
}
input{
    margin-bottom: 5px;
    padding-left: 10px;
    height: 25px;
    width: 260px;
    border: none;
    background-color: rgba(128, 128, 128, 0.266);
    border-radius: 5px;
}
.login_button{
    background-color: rgba(128, 128, 128, 0.266);
    border-radius: 20px;
    height: 25px;
    width: 270px;
    border: none;
    font-size: large;
    margin-top: 20px;
}
.register_section{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: blue;
}
.logo{
    margin-top: 60px;
    height: 200px;
    width: 380px;
}
hr{
    width: 320px;
    margin-top: 50px;
    margin-bottom: 20px;
}
