body{
    background-color: rgb(253, 249, 243);
    margin-top: 0px;
}
.container{
    text-align: center;
}
header{
    padding-top: 1px;
    text-align: center;
    margin-bottom: -20px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-family: "Pacifico";
    color: rgb(67, 51, 38);
    font-size: 70px;
    font-style: oblique;
    font-weight: lighter;
}
main{
    font-family: Arial, Helvetica, sans-serif;

}
form{
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input, .bio{
    padding-left: 10px;
    width: 300px;
    border-radius: 5px;
    border: none;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(128, 128, 128, 0.443) inset;
    height: 25px;
    border: solid 0.1px rgba(170, 170, 170, 0.545);
}
.bio{
    padding-top: 10px;
}
.texts{
    position: relative;
    top: 10px;
    text-align: left;
    width: 300px;
}
.bio{
    height: 100px;
}
button{
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: rgba(109, 103, 224);
    color: white;
    border-radius: 20px;
    height: 25px;
    width: 305px;
    border: none;
    font-size: large;
}
button:hover{
    color: black;
    background-color: rgba(109, 103, 224, 0.815);
    box-shadow: 0px 4px 4px 0px rgba(128, 128, 128, 0.443);
    transition: all 0.8s ease 0s;
}
footer{
    text-align: center;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: blue;
}
.logo{
    margin-top: 60px;
    height: 200px;
    width: 380px;
}
hr{
    width: 320px;
    margin-bottom: 20px;
}