body{
    background-color: rgba(128, 128, 128, 0.37);
}

main{
    background-color: white;
    width: 390px;
    /* padding-left: 90px; */
    font-family: Arial, Helvetica, sans-serif;
}
form{
    position: relative;
    left: 40px;
    padding-top: 40px;
}
input{
    width: 300px;
    border-radius: 5px;
    border: none;
    background-color: rgba(128, 128, 128, 0.441);
    height: 25px;
}
p{
    position: relative;
    top: 10px;
}
.bio{
    height: 100px;
}
button{
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: rgba(128, 128, 128, 0.266);
    border-radius: 20px;
    height: 25px;
    width: 305px;
    border: none;
    font-size: large;
}
div{
    text-align: center;
    font-size: 13px;
}
a{
    color: blue;
}
.logo{
    margin-top: 60px;
    height: 200px;
    width: 380px;
}
hr{
    width: 320px;
    margin-bottom: 20px;
}